Basics of operating jupyter notebooks.

**This text is bold** <br>
*This text is italicized*<br>
<b>This text is also bold</b><br>
<i>This text is also italicized</i>
-- This text is struckthrough --

# H1 header
## H2 header
### H3 header

- item 1
- item 2
- item 3

* item 4
* item 5
* item 6

+ item 7
+ item 8
+ item 9

In [7]:
print('This is a string.', "This is also a string")

This is a string. This is also a string

In [8]:
print('This is a multi-line sting \nHello, new line.')

This is a multi-line sting
Hello, new line.

In [11]:
print('''This is also
      a multi-line
      string.''')

This is also
      a multi-line
      string.

# Working with variables.

In [13]:
age = 25
salary = 25000
name = 'Alice'

### Referencing a variable.

In [15]:
print(name, salary, age)

Alice 25000 25

# Math in python.

\+ $\rightarrow$ addition <br>
\- $\rightarrow$ subtraction<br>
\* $\rightarrow$ multiplication<br>
/ $\rightarrow$ division <br>
** $\rightarrow$ exponentiation<br>
// $\rightarrow$ mod

### Working with math in python.

In [16]:
print(24 + 3)

27

In [17]:
6/(2+3)

1.2

### Calling math functions

In [27]:
print('Absolute value of -230 =', abs(-230), 'Integer value of 2424.123 =', int(2424.123))

Absolute value of -230 = 230 Integer value of 2424.123 = 2424

### Printing strings with variables.

In [30]:
x = 10 
y = 5

print('The sum of x and y is equal to', x + y)

The sum of x and y is equal to 15

### Using f strings to print variables.

In [38]:
city = 'Arlington'
temperature = 14

print(f'The temperature in {city} is {temperature}')

The temperature in Arlington is 14

In [40]:
name = 'Alice'
pen_price = 20

print(f'{name} has a ${pen_price} pen in her box.')

Alice has a $20 pen in her box.

### Changing Datatypes.

In [ ]:
pen_price = str(pen_price)

Words are strings, numbers can be either integers or floats.

In [47]:
number_1 = 5
number_2 = 5.0
print(type(number_1), type(number_2))

<class 'int'> <class 'float'>

In [53]:
import math
pi = math.pi
radius = 5.0
area = pi*radius**2
print(area)

temp = 10.6

78.53981633974483

Indexing and printing characters of a string. Note how the last index is not included.

In [56]:
name = 'Michael Jackson'
print(name[4], name[-3], name[0:4])

a s Mich